@model Labo.Models.Contactanos

<form asp-controller="Contactanos" asp-action="Nocliente">
     <label asp-for="nombres" class="control-label"></label>
     <input asp-for="nombres" class="form-control" />

     <label asp-for="apellidos" class="control-label"></label>
     <input asp-for="apellidos" class="form-control" />

     <label asp-for="numerocontacto" class="control-label"></label>
     <input asp-for="numerocontacto" class="form-control" />

     <label asp-for="email" class="control-label"></label>
     <input asp-for="email" class="form-control" />
     
     <label asp-for="asunto" class="control-label"></label>
     <input asp-for="asunto" class="form-control" />

     <label asp-for="mensaje" class="control-label"></label>
     <input asp-for="mensaje" class="form-control" />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Registrar</button> 
    </div>              
</form>
<h1>@ViewData["Message"]</h1>