@model Labo.Models.Contactanos

<form asp-controller="Contactanos" asp-action="Nocliente">
    <label asp-for="nombres" class="control-label">Nombre</label>
    <input asp-for="nombres" class="form-control" />

    <label asp-for="apellidos" class="control-label">Apellidos</label>
    <input asp-for="apellidos" class="form-control" />

    <label asp-for="numerocontacto" class="control-label">Numero de Contacto</label>
    <input asp-for="numerocontacto" class="form-control" />

     <label asp-for="email" class="control-label">Correo</label>
     <input asp-for="email" class="form-control" />
     
     <label asp-for="asunto" class="control-label">Asunto</label>
     <input asp-for="asunto" class="form-control" />
    <label asp-for="mensaje" class="control-label">Mensaje</label>
    <input asp-for="mensaje" class="form-control" />


    <div class="form-group">
        <button type="submit" class="btn btn-primary">REGISTRAR</button>
    </div>
</form>
<h1>@ViewData["Message"]</h1>