<h1>Contáctanos</h1>

<p>Tu mensaje fue enviado con exito</p>

<div class="row flex-center" style="text-align: center;">
      <button style="width: 400px; margin: 0 auto;" type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Index">Volver</button> 
  </div>
