    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    

    
@{
    ViewData["Title"] = "Home Page";
}
<div class="titulo"><h2>Tipos de Pruebas</h2></div> 
<head class="carousel">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img class="d-block w-100" src="~/imagenes/testrapido.jpg" alt="testrapido" href="https://localhost:5001/">
        </div>
        <div class="carousel-item">
        <img class="d-block w-100" src="~/imagenes/antigenos.jpeg" alt="antigenos" href="https://localhost:5001/">
        </div>
        <div class="carousel-item">
        <img class="d-block w-100" src="~/imagenes/clia.jpg" alt="clia" href="https://localhost:5001/">
        </div>
        <div class="carousel-item">
        <img class="d-block w-100" src="~/imagenes/pcr.jpg" alt="pcr" href="https://localhost:5001/">
        </div>
        <div class="carousel-item">
        <img class="d-block w-100" src="~/imagenes/tma.jpg" alt="tma" href="https://localhost:5001/">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
    </div>
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <h2>Nosotros</h2>
        <p>Mejora tu estilo de vida con nuestros chequeos de Salud. Nuestros chequeos son grupos de pruebas y análisis específicos orientados a evaluar cierta condición de interés y que te podrán ayudar a prevenir enfermedades.</p>
    </div>
    <div class="col-md-12">
        <h2>Importancia de las pruebas</h2>
        <p>Nuestra estrecha colaboración con los departamentos de investigación de las universidades y del sector farmacéutico (mundial) nos permite poner a disposición de la comunidad médica y pacientes nuevos productos de innovación con agilidad y rapidez. SYNLAB presenta análisis de vanguardia desde servicios dedicados a la salud de la mujer, oncología, nutrigenómica entre otros.</p>
    </div>
    <div class="col-md-12">
        <h2>Tipos de Prueba</h2>
        <div class="row">
            <div class="col-md-6">
                <h4>Prueba de RCP</h4>
                <p>También conocida como la prueba molecular, detecta el material genético del virus que causa la COVID-19 usando una técnica de laboratorio llamada reacción en cadena de la polimerasa (RCP).</p>
            </div>
            <div class="col-md-5">
                <h4>Prueba de antigeno</h4>
                <p>Esta prueba para la COVID-19 detecta ciertas proteínas en el virus. Se usa un hisopo largo para tomar una muestra del fluido de la nariz, y las pruebas de antígeno pueden dar resultados en minutos.</p>
            </div>
        </div>    
    </div>   
</body>
<footer>

</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</div>

