    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    

    
@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid" src="~/imagenes/pcr.jpg" >
        </div>
    </div>
    <div class="col-md-12">
        <h2>Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde beatae quia tempore, maxime magnam, porro nam, quo provident distinctio consequatur blanditiis? Possimus, deserunt deleniti commodi nisi dolore vitae eveniet quasi!</p>
    </div>
    <div class="col-md-12">
        <h2>Importancia de las pruebas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est iste minus quaerat nihil iusto dicta ipsa consequuntur. Facere debitis beatae quia. Repellat eum aliquam possimus incidunt quisquam reprehenderit excepturi! A?</p>
    </div>
    <div class="col-md-12">
        <h2>Tipos de Prueba</h2>
        <div class="row">
            <div class="col-md-6">
                <h4>Prueba de RCP</h4>
                <p>También conocida como la prueba molecular, detecta el material genético del virus que causa la COVID-19 usando una técnica de laboratorio llamada reacción en cadena de la polimerasa (RCP).</p>
            </div>
            <div class="col-md-5">
                <h4>Prueba de antigeno</h4>
                <p>Esta prueba para la COVID-19 detecta ciertas proteínas en el virus. Se usa un hisopo largo para tomar una muestra del fluido de la nariz, y las pruebas de antígeno pueden dar resultados en minutos.</p>
            </div>
        </div>    
    </div>   
</body>
<footer>
    
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> 
</div>

