<html>
<head>
  <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
  @{
    ViewData["Title"] = "áctanos";
}
<h1>@ViewData["Title"]</h1>
  <form>
      <div class="form-group">
          <label for="Nombre">Nombre Completo</label>
          <input type="text" class="form-control" id="Nombre" >
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Email">Email</label>
          <input type="email" class="form-control" id="Email" placeholder="ejemplo@gmail.com" >
        </div>  
      </div>

      <div class="form-group">
          <label for="Direc">Número de contacto</label>
          <input type="text" class="form-control" id="Direc" placeholder="ejemplo Av.Flora tristan">
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
          <label for="Prueba">Tipo de Prueba</label>
          <select id="Prueba" class="form-control">
              <option selected>Antigenos</option>
              <option>PCR</option>
              <option>TestRapido</option>
              <option>TMA</option>
              <option>CLIA</option>
          </select>
          </div>
      </div>    
      <div class="form-group">
          <label for="Mensaje">Mensaje</label>
          <textarea type="file" class="form-control" id="Mensaje" >
      </div>
      <button type="submit" class="btn btn-primary">Enviar Reserva</button>
    </div>
  </form>
  <h1 class="mensajeRegistrar">@ViewData["Message"]</h1>  
</body>
<footer>

</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
</html>

