<html>
<head>
  <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
@{
  ViewData["Title"] = "Elije la modalidad para tu prueba Covid-19";
}

<h1>@ViewData["Title"]</h1>
<hr size=3>
<form>
  <div class="row flex-center" style="text-align: center;">
      <button style="width: 400px; margin: 0 auto;" type="submit" class="btn btn-primary" asp-controller="Cliente" asp-action="Datoscliente">Atención en Laboratorio</button>
  </div>
  <br>
  <div class="row flex-center" style="text-align: center;">
      <button style="width: 400px; margin: 0 auto;" type="submit" class="btn btn-primary" asp-controller="Cliente" asp-action="ReservaDomicilio">Atención a domicilio</button> 
  </div>

  <br><br>
  <h1>Tus pruebas programadas</h1>
  <hr size=41>
  <div class="row flex-center" style="text-align: center;">
      <button style="width: 400px; margin: 0 auto;" type="submit" class="btn btn-primary">Resultados de tus Pruebas</button>
  </div>
  <br>
  <div class="row flex-center" style="text-align: center;">
      <button style="width: 400px; margin: 0 auto;" type="submit" class="btn btn-primary">Pruebas Agendadas</button> 
  </div>
</form>
</body>
<footer>

</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
</html>

