<html>
<head>
  <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
  @{
    ViewData["Title"] = "Ingresa los datos del paciente";
}

<h1>@ViewData["Title"]</h1>
<hr size=3>
  <form>    
    <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">
        <label for="Nombre">Nombres</label>
        <input type="email" class="form-control" id="Nombre" required="required" >
      </div>  
    </div>

    <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">
        <label for="Apellido">Apellidos</label>
        <input type="text" class="form-control" id="Apellido" required="required" >
      </div>  
    </div>

    <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com" required="required" >
      </div>  
    </div>

    <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">
        <label for="Tipodocumento">Ingresa tu documento de identidad</label>
        <div class="form-inline">
          <select id="Tipodocumento" class="form-control" required="required" >
                <option selected>DNI</option>
                <option>CE</option>
                <option>Pasaporte</option>
            </select>
          <div class="col-md-4">
            <input type="text" class="form-control" id="Documento">
          </div>
        </div>
      </div>  
    </div>

   <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">
        <label for="Sexo">Selecciona tu sexo</label>
        <select id="Sexo" class="form-control" required="required" >
            <option selected>Masculino</option>
            <option>Femenino</option>
        </select>
      </div>
    </div> 
     
    <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">
        <label for="FecNac">Selecciona tu Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="FecNac" required="required" >
      </div>
    </div> 
    
    <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">
        <label for="Celular">Ingresa tu celular</label>
        <input type="number" class="form-control" id="Celular" required="required" >
      </div>
    </div> 

        
    <br><br>
    <div style="text-align: center;">
      <button style="margin: 0 auto;" type="submit" class="btn btn-primary">Atras</button>
      <button style="margin: 0 auto;" type="submit" class="btn btn-primary" asp-controller="Cliente" asp-action="Sintomas">Siguiente</button>
    </div>

  </form>
  <h1 class="mensajeRegistrar">@ViewData["Message"]</h1>  
</body>
<footer>

</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
</html>
