<html>
<head>
  <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
  @{
    ViewData["Title"] = "Ingresa los síntomas del paciente";
}

<h1>@ViewData["Title"]</h1>
<hr size=3>
  <form>    
  
    <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">        
        <label for="Tipodocumento" class="form-group col-md-4">Gripe</label>
        <div class="form-check form-check-inline col-md-1">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="gripeSí">
          <label class="form-check-label" for="inlineRadio1">Sí</label>
        </div>
        <div class="form-check form-check-inline col-md-1">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="gripeNo">
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>        
      </div>  
    </div>

    <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">        
        <label for="Tipodocumento" class="form-group col-md-4">Tos</label>
        <div class="form-check form-check-inline col-md-1">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="tosSí">
          <label class="form-check-label" for="inlineRadio3">Sí</label>
        </div>
        <div class="form-check form-check-inline col-md-1">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="tosNo">
          <label class="form-check-label" for="inlineRadio4">No</label>
        </div>        
      </div>  
    </div>

    <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">        
        <label for="Tipodocumento" class="form-group col-md-4">Dolor Corporal</label>
        <div class="form-check form-check-inline col-md-1">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="DolorSí">
          <label class="form-check-label" for="inlineRadio5">Sí</label>
        </div>
        <div class="form-check form-check-inline col-md-1">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="DolorNo">
          <label class="form-check-label" for="inlineRadio6">No</label>
        </div>        
      </div>  
    </div>

    <div class="form-row">
      <div class="form-group col-md-6" style="margin: 0 auto;">        
        <label for="Tipodocumento" class="form-group col-md-4">Fiebre</label>
        <div class="form-check form-check-inline col-md-1">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="fiebreSí">
          <label class="form-check-label" for="inlineRadio7">Sí</label>
        </div>
        <div class="form-check form-check-inline col-md-1">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="fiebreNo">
          <label class="form-check-label" for="inlineRadio8">No</label>
        </div>        
      </div>  
    </div>

   
        
    <br><br>
    <div style="text-align: center;"> 
      <button style="margin: 0 auto;" type="submit" class="btn btn-primary" asp-controller="Cliente" asp-action="DatosCliente">Atras</button>
      <button style="margin: 0 auto;" type="submit" class="btn btn-primary" asp-controller="Cliente" asp-action="Pago">Siguiente</button>
    </div>

  </form>
  <h1 class="mensajeRegistrar">@ViewData["Message"]</h1>  
</body>
<footer>

</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
</html>
