@model List<Prueba>


<h1>Lista de Pruebas</h1>

<table class="table border">
    <tr>
        <th>Id</th>
        <th>Tipo de prueba</th>
        <th>Acción</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>
                <a href="/Administrador/editarprueba/@item.Id" class="btn btn-secondary">Editar Prueba</a>

                <form action="/ubicaciones/borrarPrueba" method="post" class="d-inline-block">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button class="btn btn-danger">Borrar</button>
                </form>
            </td>
        </tr>
    }
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="4" class="text-center">No se encontraron pruebas registradas</td>
        </tr>
    }
</table>

<a href="/Administrador/nuevaprueba" class="btn btn-primary">Añadir Prueba</a>